<?php
define('DBPersistent', false);
$DBType = 'mysql';
$DBHost = 'localhost';
$DBName = '{{ db_name }}';
$DBLogin = '{{ db_user }}';
$DBPassword = '{{ db_password }}';
$DBDebug = false;
$DBDebugToFile = false;
define('DELAY_DB_CONNECT', true);
define('CACHED_b_file', 3600);
define('CACHED_b_file_bucket_size', 10);
define('CACHED_b_lang', 3600);
define('CACHED_b_option', 3600);
define('CACHED_b_lang_domain', 3600);
define('CACHED_b_site_template', 3600);
define('CACHED_b_event', 3600);
define('CACHED_b_agent', 3660);
define('CACHED_menu', 3600);
define('BX_FILE_PERMISSIONS', {{ permissions_sites_files }});
define('BX_DIR_PERMISSIONS', {{ permissions_sites_dirs }});
@umask(~(BX_FILE_PERMISSIONS|BX_DIR_PERMISSIONS)&0777);
define('MYSQL_TABLE_TYPE', 'INNODB');
define('SHORT_INSTALL', true);
define('VM_INSTALL', true);
define('BX_UTF', true);
define('BX_COMPRESSION_DISABLED', true);
define('BX_DISABLE_INDEX_PAGE', true);
define('BX_USE_MYSQLI', true);
define('BX_TEMPORARY_FILES_DIRECTORY', '{{ bx_temporary_files_directory }}');

if(!(defined('CHK_EVENT') && CHK_EVENT === true)){
   define('BX_CRONTAB_SUPPORT', true);
}
