<?php
require($_SERVER['DOCUMENT_ROOT'].'/bitrix/header.php');
$APPLICATION->SetTitle('New site {{ domain }}');
?>
<h1>New site {{ domain }}</h1>
<?php
require($_SERVER['DOCUMENT_ROOT'].'/bitrix/footer.php');
