# Settings BX_TEMPORARY_FILES_DIRECTORY
location ~* ^/bx_tmp_download/ {
    internal;
    rewrite /bx_tmp_download/(.+) /tmp/{{ db_name }}/$1 last;
}

location ~* ^/tmp/{{ db_name }}/ {
    internal;
    root {{ path_sites }};
}
