# Default website
server {

    listen 80;

    server_name {{ domain }} www.{{ domain }};
    server_name_in_redirect off;

    # custom conf
    include custom_conf.d/section_listen_http/*.conf;
    include custom_conf.d/section_listen_http_and_https/*.conf;

    proxy_set_header	Host             $host:80;
    proxy_set_header	X-Real-IP        $remote_addr;
    proxy_set_header	X-Forwarded-For  $proxy_add_x_forwarded_for;
    set $is_global_cache  1;

    proxy_redirect ~^(http://[^:]+):\d+(/.+)$ $1$2;
    proxy_redirect ~^(https://[^:]+):\d+(/.+)$ $1$2;

    set $docroot "{{ path_sites }}/{{ domain }}";

    index index.php;
    root "{{ path_sites }}/{{ domain }}";

    # Redirect to ssl if need
    if (-f {{ path_sites }}/{{ domain }}/.htsecure) { rewrite ^(.*)$ https://$host$1 permanent; }

    # site personal settings
    include custom_conf.d/site_settings/{{ domain }}/*.conf;

    # Include parameters common to all websites
    include conf.d/bitrix.conf;
}


server {

    listen 443 ssl http2;

    server_name {{ domain }} www.{{ domain }};
    server_name_in_redirect off;

    # custom conf
    include custom_conf.d/section_listen_https/*.conf;
    include custom_conf.d/section_listen_http_and_https/*.conf;

    ### START PLEASE DONT DELETE OR EDIT THIS COMMENT MANAGED SSL CERTS. YOU CAN MAKE EDITS BETWEEN THESE COMMENTS ###

    # HERE YOU CAN CONNECT YOUR CONFIG WITH AN SSL CERTIFICATE
    include ssl_conf/ssl_{{ domain }}.conf;

    # DONT DELETE THIS PARAMETERS - MANAGED SSL CERTS FROM Lets Encrypt
    # ssl_certificate /path/lets_encrypt/cert/fullchain.pem;
    # ssl_certificate_key /path/lets_encrypt/key/privkey.pem;

    ### END PLEASE DONT DELETE OR EDIT THIS COMMENT MANAGED SSL CERTS. YOU CAN MAKE EDITS BETWEEN THESE COMMENTS ###

    proxy_set_header    Host                $host:443;
    proxy_set_header    HTTPS               YES;
    proxy_set_header    X-Real-IP           $remote_addr;
    proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Host    $host;
    proxy_set_header    X-Forwarded-Scheme  $scheme;
    proxy_set_header    X-Forwarded-Proto   https;
    set                 $is_global_cache    1;

    proxy_redirect ~^(http://[^:]+):\d+(/.+)$ $1$2;
    proxy_redirect ~^(https://[^:]+):\d+(/.+)$ $1$2;

    set $docroot "{{ path_sites }}/{{ domain }}";

    index index.php;
    root "{{ path_sites }}/{{ domain }}";

    # site personal settings
    include custom_conf.d/site_settings/{{ domain }}/*.conf;

    # Include parameters common to all websites
    include conf.d/bitrix.conf;
}
